:root {
  --place-holder: 0; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* starting clean */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* makes every element inherit the box-sizing property from it's parent element (body) */ }

html {
  font-size: 62.5%;
  /* bad practice to use pixels because doing so will override the font size setting that the user can manually change in the settings */
  /* To combat this, we use percentages which uses the default font-size as reference. Default font-size is 16px */ }

body {
  box-sizing: border-box;
  /* What this does is to change the box model so that the borders and the paddings are no longer added to the total width/height that we specify for a box */
  overflow: overlay; }
  body::-webkit-scrollbar {
    width: .6em; }
  body::-webkit-scrollbar-track {
    background-color: #333; }
  body::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 30px;
    box-shadow: 0 1em 0.8em black; }

::selection {
  background-color: #ff002e;
  color: white; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  line-height: 1.7; }

.heading-primary {
  font-size: 4.8rem;
  font-weight: 600;
  display: inline-block; }
  .heading-primary--section {
    font-size: 4.8rem;
    font-weight: 400;
    display: inline-block;
    background-image: linear-gradient(-105deg, #ff4d00, #ff002e);
    -webkit-background-clip: text;
    color: transparent; }

.heading-secondary {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 3.8rem;
  display: inline-block; }

.paragraph {
  text-align: justify;
  font-weight: normal; }

button {
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: 100rem;
  padding: 1.5rem 2rem;
  display: inline-block;
  color: inherit;
  font-weight: inherit;
  cursor: pointer;
  transition: all .2s; }

.btn--ghost {
  border: 2px solid white; }

.btn--full {
  background-image: linear-gradient(-105deg, #ff4d00, #ff002e); }

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3); }

.btn:active {
  transform: translateY(2px);
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.5); }

.btn--text {
  text-decoration: none;
  font-size: 1.6rem;
  padding: 0 1rem;
  display: inline-block;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  transition: all .3s; }
  .btn--text:hover {
    transform: translateY(-5px);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5); }
  .btn--text:active {
    transform: translateY(2px);
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.5); }

.nav-bar:hover .btn--text:not(:hover) {
  filter: brightness(0.4); }

.btn--menu-tab {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 3.3rem;
  padding: .8rem;
  border-radius: 100rem;
  text-decoration: none;
  font-weight: 600;
  color: #646464;
  box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.1), 0 -0.5rem 0.8rem white;
  transition: all .2s; }
  .btn--menu-tab:not(:last-child) {
    margin-right: 4rem; }
  .btn--menu-tab--active {
    color: white;
    font-weight: 600;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1), 0 -0.5rem 0.8rem rgba(255, 255, 255, 0);
    transform: translateY(-0.5rem);
    background-image: linear-gradient(-105deg, #ff4d00, #ff002e); }
  .btn--menu-tab:active {
    transform: translateY(0.3rem); }

.btn--delivery {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 15rem;
  height: 2.9rem;
  padding: .55rem;
  color: #646464;
  border-radius: 100rem;
  font-weight: 600;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
  background-color: white;
  transition: all .2s; }
  .btn--delivery:not(:last-child) {
    margin-bottom: .8rem; }

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%; }
  .menu__tabs {
    color: black;
    max-width: 100rem;
    width: 100%;
    margin-bottom: 3rem; }
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 105rem;
    width: 100%;
    height: 60rem;
    justify-content: center;
    align-items: center; }
  .menu__img {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    margin-bottom: 1.4rem 0; }
  .menu__card__img-box {
    position: relative; }
  .menu__card {
    display: flex;
    flex-direction: column;
    max-width: 24rem;
    width: 100%;
    height: 30rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1.8rem;
    box-shadow: 0 0.8rem 0.7rem rgba(0, 0, 0, 0.05); }
    .menu__card:not(:nth-child(4n)) {
      margin-right: 2rem;
      margin-bottom: 2rem; }
    .menu__card__title {
      font-family: 'pacifico', sans-serif;
      font-size: 2rem;
      margin-top: 1rem; }
    .menu__card__description {
      width: 80%;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
      margin-top: .3rem; }
    .menu__card__price {
      display: flex;
      flex-direction: column;
      position: absolute;
      height: 6rem;
      width: 6rem;
      background-color: red;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      top: 0;
      right: -4rem; }
      .menu__card__price--num {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1;
        color: white; }
      .menu__card__price--cur {
        text-transform: uppercase;
        color: white;
        font-weight: 600;
        font-size: 1rem;
        margin-left: 2px;
        line-height: 1; }

.delivery {
  display: flex;
  max-width: 105rem; }
  .delivery__guide {
    flex: 1;
    margin-right: 3rem; }
    .delivery__guide__options {
      display: flex;
      flex-direction: column; }
  .delivery__map {
    flex: 2;
    height: 50rem;
    background-color: tomato;
    border-radius: 1.7rem; }

.header {
  background-image: url(img/Heroimg.jpg);
  background-size: cover;
  height: 100vh;
  padding: 1rem 16rem;
  color: white;
  display: flex;
  flex-direction: column;
  background-attachment: fixed; }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header__nav-item__link {
      font-weight: 400; }
  .header__logo {
    height: 10rem;
    width: 10rem; }
  .header__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    color: white;
    margin-bottom: 8rem; }
    .header__text-box .heading-primary {
      background-image: linear-gradient(-105deg, #FFE4C3, #FFADAD);
      -webkit-background-clip: text;
      color: transparent; }
    .header__text-box .heading-secondary {
      margin-bottom: 4rem; }
    .header__text-box__buttons > *:not(:last-child) {
      font-weight: 600;
      margin-right: 3rem; }

.nav-bar {
  display: flex;
  list-style-type: none; }

.nav-item {
  font-size: 1.8rem;
  font-weight: 400; }
  .nav-item:not(:last-child) {
    margin-right: 8rem; }

.nav-item__link {
  text-decoration: none;
  color: white; }

.section-about {
  display: flex;
  align-items: center;
  justify-content: center; }
  .section-about__details {
    max-width: 50rem;
    padding: 3rem; }
    .section-about__details .heading-tertiary {
      font-family: "pacifico", sans-serif;
      margin-bottom: 1.6rem;
      color: #ff4d00; }
    .section-about__details .heading-secondary {
      margin-bottom: 1.8rem;
      font-weight: 700;
      font-size: 3.2rem;
      background-image: linear-gradient(-105deg, #ff4d00, #ff002e);
      -webkit-background-clip: text;
      color: transparent; }

.section-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
  background-color: #f3f0f0; }

.section-delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(img/MapBG.png);
  background-size: cover;
  padding: 10rem 0; }
