$color-primary: #ff0000;
$color-primary-light: #ff4d00;
$color-primary-dark: #ff002e;

$color-white: rgb(255, 255, 255);
$color-white-2: #f3f0f0;
$color-black:#000;

$color-grey-dark-1: rgb(100, 100, 100);

$shade-dir: -105deg;

:root {
  /////// not working as intedend
  //   --color-primary: 255, 0, 0;
  //   --color-primary-light: #ff4d00;
  //   --color-primary-dark: 255, 0, 46;
  --place-holder: 0;
}
