$color-primary: #ff0000;
$color-primary-light: #ff4d00;
$color-primary-dark: #ff002e;

$color-white: rgb(255, 255, 255);
$color-white-2: #FAF7F7;
$color-white-3: #ebe6e7;

$color-black:#000;

$color-grey-light-1: rgb(175, 175, 175);

$color-grey-dark-1: rgb(100, 100, 100);
$color-grey-dark-2: #2C2C2C;

$shade-dir: -105deg;

:root {
  /////// not working as intended
  //   --color-primary: 255, 0, 0;
  //   --color-primary-light: #ff4d00;
  //   --color-primary-dark: 255, 0, 46;
  --open-close: #ff002e;
}
