.header {
  background-image: url(img/Heroimg.jpg);
  background-size: cover;
  height: 100vh;
  padding: 1rem 16rem;
  color: $color-white;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-item__link {
      font-weight: 400;
    }
  }
  &__logo {
    height: 10rem;
    width: 10rem;

    &-box {
    }
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;

    color: $color-white;
    margin-bottom: 8rem;

    & .heading-primary {
      background-image: linear-gradient(
        $shade-dir,
        #FFE4C3,
        #FFADAD
      );
      -webkit-background-clip: text;
      color:transparent;
    }
    
    & .heading-secondary {
      margin-bottom: 4rem;

    }

    &__buttons {
      
      & > *:not(:last-child) {
       font-weight: 600;
        margin-right: 3rem;
      }
    }
  }
}
