.header {
  background-image: url(img/Heroimg.jpg);
  background-size: cover;
  height: 100vh;
  padding: 1rem 16rem;
  color: $color-white;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;

  @media only screen and (max-width: 58.75em) {
    padding: 2rem 8rem;
  }

  @media only screen and (max-width: 28.125em) {
    padding: 4rem 4rem;
  }

  @media only screen and (max-width: 25.625em) {
    padding: 2rem 2rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;


    &-item__link {
      font-weight: 400;
    }
  }
  
  &__logo {
    height: 10rem;
    width: 10rem;

    @media only screen and (max-width: 25.625em) {
      height: 7rem;
      width: 7rem;
    }
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;

    color: $color-white;

    & .heading-primary {
      opacity: 0;

      margin-bottom: 3rem;

      background-image: linear-gradient(
        $shade-dir,
        #FFE4C3,
        #FFADAD
      );
      -webkit-background-clip: text;
      color:transparent;

      animation: moveInLeft 1s;
      animation-fill-mode: forwards;

      @media only screen and (max-width: 48.75em) {
        line-height: 1;
        margin-bottom: 2rem;
      }

    }
    
    & .heading-secondary {
      opacity: 0;
      margin-bottom: 4rem;
      animation: moveInLeft 1s none .1s;
      animation-fill-mode: forwards;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      max-width: 35rem;
      width: 100%;

      opacity: 0;
      animation: moveInLeft 1s none .2s;
      animation-fill-mode: forwards;
    }

    &__schedule {
      display: flex;
      align-items: center;
      margin-top: 4rem;
      font-size: 1.4rem;
      padding: 1rem 1rem 1rem 2.4rem;
      border-radius: 1.7rem;
      background-color: rgba($color-black, .4);
      position: relative;

      opacity: 0;
      animation: moveInLeft 1s none .3s;
      animation-fill-mode: forwards;

      & span {
        font-weight: 600;
      }

      &::before {
        content: "";
        position: absolute;
        height: 70%;
        width: .5rem;
        background-color: var(--open-close);
        border-radius: 17rem;

        left: 1rem;
      }
    }
  }
}
