button {
  border: none;
  font: inherit;
  color:inherit;
  background: none;
  outline: none;
  cursor: pointer;
  user-select: none;
}

.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    font-size: 1.6rem;
    border-radius: 100rem;
    padding: 1.5rem 2rem;
    display: inline-block;
    color: inherit;
    font-weight: inherit;
    cursor: pointer;

    transition: all .2s;
  }

  &--ghost {
    border: 2px solid rgba($color-white, 1);
  }

  &--full {
    background-image: linear-gradient(
      $shade-dir,
      $color-primary-light,
      $color-primary-dark
    );
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 2rem 3rem rgba($color-black, .3);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 .4rem 1rem rgba($color-black, .5);

  }
}

.btn--text {
  text-decoration: none;
  font-size: 1.6rem;
  padding: 0;
  display: inline-block;
  color: inherit;
  background-color: inherit;

  cursor: pointer;
  transition: all .3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 2rem 4rem rgba($color-black, .5);
  }
}

  .nav-bar:hover .btn--text:not(:hover) {
    filter: brightness(.4)
  }

.btn--menu-tab {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 3.3rem;
  padding: 1rem 0rem;
  border-radius: 1.7rem;
  text-decoration: none;
  font-weight: 600;
  color: $color-grey-dark-1;
  background-color: transparent;
  box-shadow: 0 .5rem 1.4rem rgba($color-black, .10), 0 -.5rem .8rem rgba($color-white, 1);
  transition: all .2s;

  &:hover {
    transform: translateY(-.3rem);
    background-color: white;
  }

  @media only screen and (max-width:44.38em) {
    padding: 3rem 1rem;
  }

  @media only screen and (max-width:26.56em) {
    padding: 3rem 1rem;
  }

  &--active {
    color: $color-white;
    font-weight: 600;
    box-shadow: 0 1rem 2rem rgba($color-black, .10), 0 -.5rem .8rem rgba($color-white, 0);
    transform: translateY(-.8rem);

    background-image: linear-gradient(
      $shade-dir,
      $color-primary-light,
      $color-primary-dark
    );

    &:hover {
      transform: translateY(-.8rem);
    }
  }

  &:active {
    transform: translateY(.3rem);
  }
}

.btn__nav {
  transition: all .2s ;
  transform: translateY(0) scale(1);

  &--right:hover {
    transform: translateX(.5rem) scale(1);
  }

  &--left:hover {
    transform: translateX(-.5rem) scale(-1);
  }

  &--right:active {
    transform: translateX(0) scale(1);
  }

  &--left:active {
    transform: translateX(0) scale(-1);
  }
}



.btn--delivery {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 15rem;
  height: 2.9rem;
  padding: .55rem;
  color: $color-grey-dark-1;

  border-radius: 100rem;
  font-weight: 600;
  box-shadow: 0 .4rem .8rem rgba($color-black, .15);
  background-color: $color-white;

  transition: all .2s;

  user-select: none;

  @media only screen and (max-width: 41em) {
    height: 9rem;
    border-radius: 1.7rem;
  }

  @media only screen and (max-width: 25.62em) {
    align-self: center;
    height: 3rem;
    width: 60%;
    border-radius: 17rem;
  }


  &:not(:last-child) {
    margin-bottom: .8rem;

    @media only screen and (max-width: 41em) {
      margin-bottom: 3rem;
    }

    @media only screen and (max-width: 25.62em) {
      margin-bottom: 1.5rem;
    }
  }

  &:hover,
  &:visited {
    transform: translateX(2rem);
  }

  &--active {
    background-image: linear-gradient(
      $shade-dir,
      $color-primary-light,
      $color-primary-dark
    );
    transform: translateX(2rem);
    color: white;
  }
}

.btn--footer {
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0;
  display: inline-block;
  color: inherit;
  background-color: inherit;
  transform: translateY(0) rotate(0) scale(1);

  cursor: pointer;
  transition: all .2s;

  &:hover {
    transform: translateY(-2px) rotate(-5deg) scale(1.1);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
  }

  &:active {
    transform: translateY(1px) rotate(0) scale(1);
    box-shadow: 0 .2rem .5rem rgba($color-black, .3);
  }
}
