.delivery {
  display: flex;
  max-width: 105rem;
  padding: 2rem;
  position: relative;

  @media only screen and (max-width: 41em) {
    flex-direction: column-reverse;
  }

  &__guide {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    width: 30%;

    @media only screen and (max-width: 41em) {
      width: 100%;
    }

    @media only screen and (max-width: 41em) {
      flex-direction: row;
      margin: 3rem 0 0 0;
    }

    @media only screen and (max-width: 25.62em) {
      flex-direction: column;
      margin: 3rem 0 0 0;
    }

    &__options {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      @media only screen and (max-width: 41em) {
        margin-bottom: 0;
      }

      @media only screen and (max-width: 25.62em) {
        flex-direction: column;
        margin-bottom: 2rem;
      }
    }

    &__instructions {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;

      padding: 3rem;
      border-radius: 1.7rem;
      background-color: $color-white-2;
      box-shadow: 0 0.4rem 0.8rem rgba($color-black, 0.15);

      & h2 {
        margin-bottom: 2rem;
      }

      @media only screen and (max-width: 41em) {
        margin-left: 3rem;
        min-height: 33rem;
      }

      @media only screen and (max-width: 25.62em) {
        margin-left: 0rem;
      }
    }
  }

  &__paragraph {
    display: none;
    visibility: hidden;

    &--active {
      display: block;
      visibility: visible;
    }
  }

  &__map {
    position: relative;
    border-radius: 1.7rem;
    box-shadow: 0 0.4rem 0.8rem rgba($color-black, 0.15);
    height: 70rem;
    width: 70%;

    @media only screen and (max-width: 41em) {
      width: 100%;
    }

    background-image: linear-gradient(
      to bottom,
      rgb(65, 65, 65),
      rgb(31, 31, 31)
    );

    &__link {
      position: absolute;
      top: 3rem;
      right: 3rem;
      text-decoration: none;
      color: #2a51ff;
      font-weight: 600;

      background-color: $color-white;
      padding: 0.5rem 1.5rem;
      border-radius: 10rem;
      box-shadow: 0 0.4rem 0.8rem rgba($color-black, 0.2);
      z-index: 9;

      transition: all 0.2s;

      &:hover {
        padding: 0.5rem 4rem 0.5rem 1.5rem;
        transform-origin: right;
      }
    }

    &__desclaimer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      font-size: 3rem;
      font-weight: 600;
      color: $color-white;
    }

    &__info {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 3rem;
      top: 8rem;

      background-image: linear-gradient(
        to bottom,
        white 77%,
        $color-primary-dark 77%
      );
      border-radius: 2.9rem;
      padding: 1rem;
      width: 15rem;
      font-weight: 600;
      color: rgb(54, 54, 54);

      box-shadow: 0 0.4rem 0.8rem rgba($color-black, 0.2);
      overflow: hidden;
      z-index: 9;

      transition: all 0.4s;

      &--hide {
        transform: translateX(2rem);
        opacity: 0;
      }
      & > * {
        display: flex;
        justify-content: space-between;
        padding: 0.2rem 1rem;
        border-radius: 1.7rem;
      }

      & > *:not(:last-child) {
        margin-bottom: 1rem;
      }
      &--green__container {
        background-image: linear-gradient(
          110deg,
          rgb(255, 255, 255) 60%,
          rgb(37, 223, 121) 60%
        );
        border: 2px solid rgb(37, 223, 121);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &--red__container {
        background-image: linear-gradient(
          110deg,
          rgb(255, 255, 255) 60%,
          rgb(255, 162, 162) 60%
        );
        border: 2px solid rgb(255, 162, 162);
        border-radius: 4px;
      }

      &--blue__container {
        background-image: linear-gradient(
          110deg,
          rgb(255, 255, 255) 60%,
          rgb(141, 223, 255) 60%
        );
        border: 2px solid rgb(141, 223, 255);
        border-radius: 4px;
      }

      &--orange__container {
        background-image: linear-gradient(
          110deg,
          rgb(255, 255, 255) 60%,
          rgb(255, 172, 123) 60%
        );
        border: 2px solid rgb(255, 172, 123);
        border-radius: 4px;
      }

      &--disclaimer {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 0.5rem;
        color: rgb(255, 255, 255);
      }
    }
  }
}
