/* starting clean */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* makes every element inherit the box-sizing property from it's parent element (body) */
}

html {
  // defines what 1rem is
  font-size: 62.5%;
  /* bad practice to use pixels because doing so will override the font size setting that the user can manually change in the settings */
  /* To combat this, we use percentages which uses the default font-size as reference. Default font-size is 16px */

  
  @media only screen and (max-width: 56.25em) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box; /* What this does is to change the box model so that the borders and the paddings are no longer added to the total width/height that we specify for a box */
  overflow: overlay;

  // scrollbar
  &::-webkit-scrollbar {
    width: .6em;

  }

  &::-webkit-scrollbar-track {
    background-color: #333;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 30px;
    box-shadow: 0 1em .8em rgba($color-black, .5);
  }
}

::selection {
  background-color: $color-primary-dark;
  color: $color-white;
}

.hide-svg {
  // background-color: $color-grey-dark-2;
  position: absolute;
  bottom: 0;
  z-index: -99999999999999;
}
