.section-about {
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 35em) {
    flex-direction: column;
    background-image: url(./img/aboutimg.jpg);
    background-image: linear-gradient(rgba(#fff, 0.5), rgba(#fff, 0.5)), url(./img/aboutimg.jpg);
     
    background-size: cover;
  }

  &__details {
    max-width: 50rem;
    width: 100%;
    padding: 3rem;
    background-color: rgba($color-white, .8);

    @media only screen and (max-width: 56.25em) {
      padding: 3rem 5rem;
    }

    & .heading-tertiary {
      font-family: "pacifico", sans-serif;
      margin-bottom: 1.6rem;

      color: $color-primary-light;
    }

    & .heading-secondary {
      margin-bottom: 1.8rem;
      font-weight: 700;
      font-size: 3.2rem;

      @include gradient
    }
  }

  &__img-box {
    align-self: stretch;
    overflow: hidden;

    @media only screen and (max-width: 35em) {
      display: hidden;
      visibility: hidden;
      height: 0;

    }
  }

  &__img {
    width: auto;
    height: 100%;
    background-size: cover;

    @media only screen and (max-width: 35em) {
      display: hidden;
      visibility: hidden;
      height: 0;
    }
  }
}

.section-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10rem 2rem;
  background-color: $color-white-2;
}

.section-delivery {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(img/MapBG.png);
  background-size: cover;

  padding: 10rem 0;
}

.section-gallery {
  display: flex;
  max-width: 153.6rem;

  &__img-container {
    flex: 1;
    overflow: hidden;
    box-shadow: 0 .4rem .8rem rgba($color-black, .25);

  }

  &__img {
    height: 100%;
    width: 100%;
    background-size: cover;

    filter: brightness(60%);
    transform: scale(1.1);
    transition: all .4s;

    &:hover {
      filter: brightness(100%);
      transform: scale(1.0);
    }
  }
}